.App {
  text-align: center;
}
.container{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
header a{
  text-decoration: none;
  color: #333;
}