@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
.App{
  font-family: "Poppins";
}
.home{
  margin: 0 auto;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
}
.nav-bar{
  background-color: black;
}
.navbar-brand a{
  color: black;
  text-decoration: none;
}
.navbar-nav a {
  color: black;
  text-decoration: none;
}
.navbar-nav a:hover{
  color: grey;
}
.navbar-brand a:hover{
  color: grey;
}
form.ssn-form{
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
label{
  display: block;
  margin-bottom: 10px;
}
.ssn-input{
  padding: .5rem;
  border-radius: 10px;;
}
.submit-btn{
  padding: .5rem;
  background-color: transparent;
  border-radius: 10px;
  margin-left: 10px;
}
.image{
  width: 200px;
  height: auto;
}
.data{
  margin-top: 40px;
  text-align: center;
}
.newPerson{
  margin-top: 20px;
}
.newPerson form{
  width: 530px;
  height: 380px;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.newPerson form input{
 margin-left: 20px;
}
.newPerson form button{
  margin-top: 10px;
}
.MuiFormLabel-root{
  margin-right: 20px;
  margin-bottom: 20px;
}
.MuiInputBase-root{
  margin-right: 20px;
  margin-bottom: 20px;

}