@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
.App{
  font-family: "Poppins";
}
.home{
  margin-top: 80px;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
}
.navbar{
  box-shadow: 0 4px 4px -2px #E7E7E7;
}
.navbar-brand h3{
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.navbar-nav a {
  color: black;
  text-decoration: none;
}
.navbar-nav a:hover{
  color: grey;
}
.navbar-brand a:hover{
  color: grey;
}
form.ssn-form{
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
label{
  display: block;
  margin-bottom: 10px;
}
.ssn-input{
  padding: .5rem;
  border-radius: 10px;
  margin-right: 20px;
}
.submit-btn{
  padding: .5rem;
  background-color: transparent;
  border-radius: 10px;
  margin-left: 10px;
}
.image{
  width: 150px;
  height: auto;
}
.data{
  margin-top: 40px;
  text-align: center;
}
.title{
  font-weight: 300px;
  font-size: 30px;
}
.info{
  color: black;
  font-size: 20px;
  font-weight: 20;
}
.login-form{
  width: 250px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20vh;
  
}
.login-form h4{
  margin-bottom: 20px;
}
.ssForm{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30vh;  
}
.ssAdd{
  border: 2px solid grey;

}
.ssForm form{
  padding: 2rem;
}
.MuiInputBase-root{
  margin-right: 20px;
  margin-bottom: 20px;

}
.ssForm h3{
  margin-bottom: 20px;
}
.add{
  margin: 20vh auto 0 auto;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  border: 2px solid grey;

}
.header{
  margin-bottom: 20px;
}
.header a{
  text-decoration: none;
  margin-left: 20px;
}
.add h3{
  margin-bottom: 20px;
  display: inline;
}
.dmvForm{
  margin: 20vh auto 0 auto;
  width: 500px;
}
.updateDMV{
  margin: 30vh auto 0 auto;
  width: 424px;
  border: 2px solid grey;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.updateDMV a{
  text-decoration: none;
}
.updateDMV-form{
  width: 500px;
  height: 200px;
  padding: 1rem;
  margin: 30px auto 0 auto;
}
.updateDMV-form span{
  font-size: 20px;
}
.dosForm{
  width: 500px;
  height: 400px;
  margin: 20vh auto 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  border: 2px solid grey;

}
.dosForm h3{
  margin-bottom: 20px;
  display: inline;
}
.updateDOS{
  margin: 30vh auto 0 auto;
  width: 424px;
  border: 2px solid grey;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.updateDOS form{
  width: 400px;
  margin: 0 auto 0 auto;
}

.updateDOS-form{
  width: 500px;
  height: 200px;
  padding: 1rem;
  margin: 10px auto 0 auto;
}
.updateDOS-form span{
  font-size: 20px;
}
@media only screen and (max-width:767px){
  .ss{
    width: 250px;
    height: 400px;
  }
  
}